[submodule "libft"]
	path = libft
	url = https://github.com/DevGhali/libft.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/DevGhali/ft_printf.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/DevGhali/get_next_line.git
